<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Oreno tmux</title>

  <link rel="stylesheet" type="text/css" href="./static/honoka/css/bootstrap.min.css">
  <style type="text/css">
  body { padding-top: 80px; }
  #banner { margin-top: 20px; }
  </style>

  <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body>

<header>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">Oreno tmux</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li><a href="https://github.com/kotarot/oreno-tmux">Fork me on GitHub</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="container">

  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-12">
        <h1>Oreno tmux</h1>
        <p class="lead">Oreno tmux generates your own tmux cheatsheet based on your .tmux.conf</p>
      </div>
    </div>
  </div>


  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-12">
        <form>
          <textarea class="form-control" rows="5" id="textArea"></textarea>
          <div class="text-center" style="margin: 12px;">
            <button type="submit" class="btn btn-primary btn-lg">Get your own tmux cheatsheet</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

<hr>

<footer>
  <div class="container">
    <p>
      Project licensed <a href="https://github.com/kotarot/oreno-tmux/blob/master/LICENSE" target="_blank">GPL v2</a>.
      Developed by <a href="https://github.com/kotarot" target="_blank">Kotaro Terada</a>.
      View on <a href="https://github.com/kotarot/oreno-tmux" target="_blank">GitHub</a>.
    </p>
  </div>
</footer>


<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="./static/honoka/js/bootstrap.min.js"></script>

</body>
</html>
